html {
    scroll-behavior: smooth;
    font-size: clamp(10px, 1vw, 16px);
}

body{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 100px;
}

.main-content {
    flex: 1 0 auto;
}


#index,
#nosotros,
#marcas,
#categorias,
#contacto {
    scroll-margin-top: 10rem;
}

#beneficios {
    scroll-margin-top: -4rem;
}

#zonas {
    scroll-margin-top: 50rem;
}

:root {
    --verdeOscuro: #004437;
    --verdeClaro: #8DD600;
    --azul: #050461;
}


.index,
.nosotros,
.marcas,
.zonas,
.beneficios,
.contacto {
    margin-bottom: -1px;
}

p {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    margin-top: center;
    margin-left: center;
    margin-right: 2rem;
}

html,
body {
    padding: 0;
    padding-top: 0rem;
}


    /* NAVBAR */
.navbar {
    width: 100%;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1000;
    top: 0.00001rem;
    transition: top 0.3s ease;
}

.navbar-hidden {
    top: -200px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;

}

.logo img {
    width: 12.5rem;
    height: auto;
    display: block;
    align-items: left;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    text-decoration: none;
    position: relative;
    color: gray;
    font-weight: 200;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--verdeOscuro);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
    font-size: bolder;
}



#mi-carrusel .splide__arrow {
    height: 9rem;
    width: 5rem; 
    background-color: transparent;
    margin-left:-6rem;
    margin-right: -6rem;
    color: #004437;
}

#mi-carrusel .splide__arrow svg {
    height: 100%;
    width: 100%;
}

button {
    color: var(--verdeOscuro);
    border: none;
}

button:hover {
    background-color: var(--verdeOscuro);
    color: var(--verdeClaro);
}

/* SECCION INDEX */
.index {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1758346912/PORTADA_fcxhsx.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
    aspect-ratio: 2000 / 959.5;
    position: relative;

}

.index-mobile {
    display: none;
}

.contenidoindex {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoBlanco {
    display: flex;
    object-fit: contain;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 22vw;   /* Ancho basado en el ancho de la ventana */
    height: 10vw;  /* Alto basado en el ancho de la ventana */
    margin-bottom: 2rem; /* Puedes mantener el margen en rem sin problema */
}

.logoBlanco2{
    display: flex;
    object-fit: contain;
    position: absolute;
    top: 68%;
    right: 15%;
    width: 21vw;   /* Ancho basado en el ancho de la ventana */
    height: 9vw;  /* Alto basado en el ancho de la ventana */
    margin-bottom: 2rem; /* Puedes mantener el margen en rem sin problema */
}

.textoPortada {
    position: absolute;
    top: 17rem;
    right: 9rem;
    height: 35rem;
    width: 40rem;
    font-size: clamp(1rem, 2rem, 1rem); /* Esto ya usaba clamp, perfecto */
    line-height: 1.2;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    white-space: normal;
}

.textoLogoPortada1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: left;
}

.textoLogoPortada2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .textoPortada {
        margin-top: 6rem;
        top: 15rem;
        right: 4rem;
        height: 35rem;
        min-width: 5rem;
        font-weight: bolder;
    }

    .index {
        background-image: /* linear-gradient(to top, #3d895c, rgba(255, 255, 255, 0) 50px), */
            url(https://res.cloudinary.com/dha3vqp69/image/upload/v1758346912/PORTADA_fcxhsx.jpg);
        background-size: 200% 100%;
        background-position: left center, left center;
        background-repeat: no-repeat;
        height: 100rem;
        width: 100%;
    }

    /* .index-mobile {
        display: block;
        background-image:
            linear-gradient(to bottom, #3d895c, rgba(255, 255, 255, 0) 50px),
            linear-gradient(to top, #3d895c, rgba(255, 255, 255, 0) 50px),
            url(https://res.cloudinary.com/dha3vqp69/image/upload/v1758346912/PORTADA_fcxhsx.jpg);
        background-size: 250% 100%;
        background-position: right center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100rem;
        aspect-ratio: 2000 / 959.5;

    } */

    .logoBlanco {
        top: 20%;
        left: 10%;
        width: 60%;
        height: 60rem;
    }

    .logoBlanco2{
        top: 12%;
        left: 20%;
        z-index: 10;
        width: 50%;
        height: 100rem;
    }

    .textoPortada {
        top: 120%;
        right: 10%;
        width: 80rem;
        height: 50rem;
        max-width: none;
        font-size: 4.5rem;
        text-align: left;
    }
}

/* SECCION NOSOTROS */
.nosotros {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760391040/FONDO_gkklon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 2000 / 812;
    position: relative;
}

.contenidoNosotros {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    top: -20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
    font-weight: 50rem;
    font-size: 1.8rem;
    margin: 0rem;
    padding: 0rem;
    color: var(--verdeOscuro);
}

.tituloNosotrosGrande {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-weight: 1000;
    line-height: .9;
    margin-top: .7rem;
}

.etiqueta {
    display: inline-block;
    background-color: var(--verdeClaro);
    padding: .2rem .5rem;
    border-radius: .5rem;
    font-weight: bold;
    margin-bottom: -.5rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.tituloNosotros3 {
    color: var(--verdeClaro);
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 1rem;
}

.contenidoNosotros p,
.contenidoBeneficios p {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 1.3;
    margin-top: .9rem;
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 40rem;
}

@media (max-width: 768px) {
    .nosotros {
        background-size: 200% 100%;
        background-image: 
            /* linear-gradient(to bottom, #3d895c, rgba(255, 255, 255, 0) 50px),  */
            url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760391040/FONDO_gkklon.png);
        background-position: left center;
        width: 100%;
        height: 50rem;
    }


    .contenidoNosotros{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20%;
    }

    h3 {
        font-size: 3rem;
        margin-top: 4rem;
    }

    .tituloNosotrosGrande {
        font-size: 4rem;
    }

    .tituloNosotros3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .contenidoNosotros p,
    .contenidoBeneficios p {
        font-size: 1.5rem;
        max-width: 80rem;
        line-height: 1.5;
        margin-top: -1rem;
    }
}

/* SECCION MARCAS */
.marcas {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760560310/FONDO_MARCAS_FINAL2_zcyoqh.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1474 / 705;
    position: relative;
}

.contenidoMarcas{
    top: 0rem;
}

.marcas h2 {
    color: var(--verdeOscuro)
}

.marcas p {
    color: var(--verdeOscuro);
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .contenidoMarcas{
        width: 80%;
    }
    .marcas {
        background-size: 200% 100%;
        background-position: left center;
        width: 100%;
        height: 100rem;
    }

        #mi-carrusel-marcas .splide__slide img {
        max-height: 102rem;
    }

}


.splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.splide {
    width: 70%;
}

.categorias {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

.categorias h2 {
    color: var(--azul);
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .splide__slide img {
        max-height: 80rem;
    }

    .categorias {
        padding-bottom: 30rem;
    }
}

/* SECCION ZONAS */
.zonas {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760391040/FONDO_m7hr0n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 2000 / 982;
    position: relative;
}

.contenidoZonas {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto
}

.zonas h2 {
    color: var(--azul);
}

.tituloZonas {
    margin-top: 2rem;
    text-align: right;
    margin-right: 1.7rem;
}

.zonas img {
    display: relative;
    width: 50rem;
    height: 35rem;
    justify-content: left;
    z-index: 2;
}

.zonas p {
    color: var(--azul);
    font-size: 1rem;
    text-align: right;
}

@media (max-width: 768px) {
    .contenidoZonas {
        display: flex;
        flex-direction: column;
        padding-top: 35rem;
        align-items: center;
        width: 70%;
        padding-left: 2rem;
    }

    .contenidoZonas img {
        padding-top: 10rem;
        order: 2;
        width: 100%;
        max-width: 75rem;
        height: 40rem;
    }

    .contenidoZonas p {
        font-size: 1.5rem;
        text-align: center;
    }

    .contenidoZonas h2 {
        text-align: center;
    }

    .zonas {
        background-size: 200% 100%;
        background-position: center;
        width: 100%;
        height: 100rem;
        
    }
}

/* SECCION BENEFICIOS Y CONTACTO */
.beneficios {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760391038/FONDO_pddllp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 4000 / 1963;
    position: relative;
    z-index: 3;
}

.etiqueta2 {
    display: inline-block;
    background-color: var(--azul);
    padding: 3px 6px;
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: -1rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.contenidoBeneficios {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloBeneficios {
    color: white;
    text-align: center;
    font-weight: 800;
    letter-spacing: .1rem;
    margin-top: 1rem;
}

.iconosBeneficios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2.5rem;
}

.iconosBeneficios .beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 13rem;
}

.iconosBeneficios img {
    width: 10rem;
    height: 10rem;
    margin-bottom: .7rem;
    flex-wrap: wrap;
}

.beneficio p {
    font-size: 1rem;
    color: var(--azul);
    text-align: center;
    font-weight: bolder;
    line-height: 1.3;
    margin: 0;
    z-index: 8;
    max-width: 8rem;
}

.fondoBlanco {
    position: none;
}

@media (max-width: 768px) {

 .beneficios{            
            background-size: 200% 100%;
        background-position: center ;
        width: 100%;
        height: 100rem;
 }

    .iconosBeneficios {
        flex-wrap: wrap;
        justify-content: center;
        gap: .2rem;
        margin-top: 1rem;
        max-width: 70%;
        z-index: 2;
    }

    .iconosBeneficios .beneficio {
        flex: 0 0 calc(33.33% - 2rem);
        max-width: unset;
        margin-bottom: 1rem;
    }

    .iconosBeneficios img {
        width: 9rem;
        height: auto;
        margin: 1rem;
    }

    .beneficiosTexto {
        padding-top: 3rem;
        font-size: 1.5rem;
        max-width: 80rem;
        line-height: 1;
        margin-top: 0rem;
    }

    .beneficio p {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .contenidoBeneficios {
        margin-top: 2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacto {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1760042449/1556_juhpuz.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 2000 / 629;
    position: relative;
    z-index: 1;
}

.contenidoContacto {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .contacto{
       background-size: 200% 100%;
       height: 50rem;
    }

    .contenidoContacto {
        top: 20%;
    }

    .fondoBlanco {
        display: block;
        height: 10rem;
    }
}

.contenidoContacto h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.etiqueta3 {
    display: inline-block;
    text-decoration: none;
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    padding: 3px 16px;
    padding-top: 6px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);;
}

.etiqueta3:hover{
    background-color: var(--verdeOscuro);
    color: var(--verdeClaro);
}

@media (max-width: 768px) {
    .etiqueta3{
        font-size: 1.4rem;
    }
}

footer {
    background-color: var(--verdeClaro);
    margin-top: auto;
    padding: 1rem 10%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

footer img {
    width: 2rem;
    display: block;
}

footer p {
    margin: 0;
    text-align: right;
    font-size: 1rem;
    color: var(--verdeOscuro);
}

.iconos-contacto{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.direccionMapa {
    text-decoration: none;
    color: var(--verdeOscuro);
    font-size: 1rem;
}









/*PRODUCTOS SECCION*/
/* --- ESTILOS PARA SKELETONS --- */

/* Clase base para el efecto de animación brillante */
.skeleton {
  opacity: .7;
  animation: skeleton-loading 1.2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* Esqueleto para una tarjeta de producto */
.skeleton-card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  padding: 1rem;
}

.skeleton-card .skeleton-image {
  height: 150px; /* Altura similar a tus imágenes de producto */
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.skeleton-card .skeleton-text {
  height: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.125rem;
}

.skeleton-card .skeleton-text-short {
  width: 60%;
}

/* Esqueleto para los filtros (checkbox) */
.skeleton-filter {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.skeleton-filter .skeleton-checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.125rem;
}

.skeleton-filter .skeleton-label {
  height: 1rem;
  width: 80%;
  border-radius: 0.125rem;
}

@media (max-width: 768px){
    body{
        margin-top: 50px;
    }
}

#productos-container {
    scroll-margin-top: 400px;
}

.contenido-principal {
    background-image: url(https://res.cloudinary.com/dha3vqp69/image/upload/v1759869203/BANNER_PRODUCTOS_i0e28f.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 2000 / 589.5;
    position: relative;

}

.elementosContenido-principal {
    position: absolute;
    top: 8vw;
    left: 15%;
}

.elementosContenido-principal h2 {
    font-size: 5vw;
    font-weight: bolder;
    color: white;
    max-width: 80%;
    line-height: 4vw;
    padding-bottom: 2vw;
}


.contenido-principal button {
    position: absolute;
}

.card-img-top {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    object-fit: cover;
    align-items: center;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #000000;
}

#pagination-controls .pagination .page-link {
    cursor: pointer;
    color: var(--verdeOscuro);
}

#pagination-controls .pagination .page-item.active .page-link {
    background-color: var(--verdeOscuro);
    border-color: var(--verdeOscuro);
    color: white;
}



/* === Estructura y Layout del Catálogo === */
#catalogo-productos {
    background-color:  white;
    padding: 4vw;
    padding-top: 1vw;
}

.catalogo-container {
    width: 90%;
}

@media (min-width: 1400px) {
    .catalogo-container{
        width: 70%;
    }
}

/* Barra Superior (Buscador y Marcas) */
.top-bar {
    margin-bottom: 2rem;
}

.search-bar {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--verdeOscuro);
    border-radius: 50px;
    font-size: 1vw;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%236c757d" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 1rem center;
    padding-left: 3rem;
}

#brand-carousel{
    width: 100%;
}

#brand-carousel .splide__arrow{
        margin-left:-3rem;
    margin-right: -3rem;
    background: none;
    margin-top: .6rem;
}


.brand-pill {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.8rem 1rem;
    padding-bottom: 10px;  
    border-radius: 50px;    
    margin-top: 1.5rem;     
    background-color: var(--verdeOscuro);
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;        
    white-space: nowrap;    
    overflow: hidden;      
    text-overflow: ellipsis; 
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.brand-pill:hover {
    transform: scale(1.05); 
}

.brand-pill.active {
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    font-weight: bold;
    transform: scale(1.05); 
}

@media (max-width: 767px) {
    .brand-pill {
        font-size: 1.5rem;
        padding: 0.6rem 1rem;
    }
}

/* === Sidebar de Filtros === */
.sidebar-filters {
    background-color: white;
    padding: 1rem;
    border: none;
    height: auto;
    width: 90%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.sidebar-filters.cargado {
  opacity: 1; 
}

.sidebar-filters h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--verdeOscuro);
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 1.5rem;
}

.filter-group {
    border: 1px solid #e0e0e0;
    padding: 1rem;           
    border-radius: 8px;       
    margin-bottom: 1.5rem;   
}

.filter-group h4 {
    font-size: 1.9rem;
    color: var(--verdeClaro);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria debajo del título */
}


.filter-group .form-check {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;
}

.sidebar-filters .filter-group .form-check {
    align-items: flex-start
}

.filter-group .form-check-label {
    cursor: pointer;
    font-size: 1rem;
    color: gray;
        align-items: flex-start
}

.filter-group .form-check-input {
    transform: scale(1.5);
    /*tamaño del checkbox */
    margin-right: 0.7rem;
    /* espacio entre checkbox y texto*/
}

.filtros-wrapper .filter-group {
    margin-bottom: 1.5rem;
}


/* --- ESTILOS PARA MÓVIL --- */
@media (max-width: 768px) {
    .filtros-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas en móvil */
        gap: 1.5rem;                   /* Espacio entre ellas */
    }

    /* Quitamos el margen inferior en móvil porque el 'gap' ya se encarga del espacio */
    .filtros-wrapper .filter-group {
        margin-bottom: 0;
    }
}

/* === Grid de Productos === */
#productos-titulo {
    font-weight: bold;
    color: var(--verdeOscuro);
    margin-bottom: 1.5rem;
}

.card {
    border: 1px solid #e9ecef;
    background-color: #f2f3f2;
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 1px;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: -.3vw;
    align-items: center;
}

.card-title {
    font-weight: bold;
    color: var(--verdeOscuro);
    text-align: center;
    font-size: 1.3vw;
}

.card-text {
    font-size: .8vw;
    color: gray;
    line-height: 1.2;
    margin-right: 0;
    font-weight: 500;
}

.card-text strong {
    color: var(--verdeOscuro);
    font-weight: 800;
    padding-bottom: 20vw;
}

.card-button {
    border: none;
    border-radius: 4px;
    padding: 2px;
    margin-top: auto;
    margin-bottom: 1vw;
    width: 60%;
    background-color: var(--verdeOscuro);
    color: white;
    font-size: .7vw;
}

.card-button:hover{
    background-color: var(--verdeClaro);
    color: black;
}


#catalogo-productos .container-fluid {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan */
    flex-direction: column;
    /* Apila los elementos verticalmente */
}

#catalogo-productos .top-bar {
    width: 100%;
    /* Asegura que la barra superior ocupe todo el ancho */
}

#catalogo-productos .row {
    width: 100%;
    /* Asegura que la fila de columnas ocupe todo el ancho */
}

.ingredientes-lista {
  display: block; 
  white-space: pre-wrap;
  padding-left: 10px; 
  padding-right: 10px;
  text-align: left;
}

.textoCard{
    padding: 12px;
    font-size: 1.5vw;
    color: var(--verdeOscuro);
    font-weight: bolder;
    text-align: center;
    line-height: 1;
}

@media (max-width: 991px) {
    .card-text {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .sidebar-filters {
        margin-bottom: 2rem;
        height: auto;
    }

    #productos-titulo {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .card{
        margin-bottom: 2rem;
    }

    .textoCard{
        font-size: 3rem;
    }

    .contenido-principal p {
        width: 40%;
        font-size: 2vw;
        top: 5vw;
        left: 8vw;
    }

    .contenido-principal button {
        top: 10vw;
        left: 2vw;
        padding: 0.4rem 0.8rem;
        font-size: 2vw;
    }

    /* Ajustes al catálogo */
    .catalogo-container {
        padding: 1rem 0.5rem;
        width: 70%;
    }

    .card-button{
        font-size: 3vw;
    }

    .search-bar {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-size: 2vw;
    }

    .brand-pills a {
        padding: 0.5rem 1rem;
        font-size: 2vw;
    }

    .card-text {
        font-size: 3vw;
    }

    .filter-group .form-check-label {
        cursor: pointer;
        font-size: 1rem;
    }

}


#mi-carrusel-marcas .splide__slide img {
    width: 40%;
    height: auto;
}

#mi-carrusel-marcas .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#mi-carrusel-marcas{
    width: 50%;
}

#mi-carrusel{
    width: 60%;
}

@media (max-width: 768px) {
body{
    margin-top: 50px;
}
}
